/* basics */
p, hr {
  padding: 0;
  margin-top: 0;
  margin-bottom: 0;
  margin-right: 0;
  margin-left: 0;
}

hr {
  margin-bottom: 1em;
}

/* make panels look nice and tile */
.panel-default.panel-thumb {
  float: left;
  height: 250px;
  width: 200px;
}

.panel-thumb {
  margin: 10px;
  padding: 10px;
  background: #999;
  cursor: pointer;
}

.panel-text {
  margin: 10px 0px;
  font-family: Verdana;
}

.panel-title {
  font-size: 14px;
  font-weight: bold;
}

.panel-subtitle {
  font-style: italic;
}

.img-thumb {
  display:block;
    margin:auto;
}

.img-full {
  display:block;
    margin:auto;
    width: 75%;

}

/* lightbox */
.black-overlay{
  position: absolute;
  top: 0%;
  left: 0%;
  width: 100%;
  height: 110%;
  background-color: black;
  z-index:1001;
  -moz-opacity: 0.8;
  opacity:.80;
  filter: alpha(opacity=80);
}

.white-content {
  position: absolute;
  top: 10%;
  left: 20%;
  width: 60%;
  height: 80%;
  padding: 16px;
  background-color: gray-lighter;
  z-index:1002;
  overflow: auto;
}

.lightbox-title {
  margin-left: 20px;
  font-weight: bold;
  display:inline;
}

.lightbox-subtitle {
  font-size: 20px;
  font-style: italic;
  margin-left: 10px;
}

/* navbar adjustments */
.navbar-input {
  width: 240px;
}

#dogsearch.navbar-right {
  padding-right: 60px;
}

.highlight {
  background-color: #5ea8a8;
  border-radius: 2px;
  padding: 0px 1px;
  margin: 0px -1px;
}


/* Spinner css from http://jsfiddle.net/AndrewDryga/GY6LC/ */
.spinner {
  display: inline-block;
  opacity: 0;
  max-width: 0;

  -webkit-transition: opacity 0.25s, max-width 0.45s; 
  -moz-transition: opacity 0.25s, max-width 0.45s;
  -o-transition: opacity 0.25s, max-width 0.45s;
  transition: opacity 0.25s, max-width 0.45s; /* Duration fixed since we animate additional hidden width */
}

.has-spinner.active {
  cursor:progress;
}

.has-spinner.active .spinner {
  opacity: 1;
  max-width: 50px; /* More than it will ever come, notice that this affects on animation duration */
  margin-right: 6px;
}


/* misc */
.margintop70 {
  margin-top:70px;
}

.tall70 {
  height: 70px;
}

.title-container {
  width: 40%;
}

.clear {
  clear: both;
}

.push-right20 {
  margin-right: 20px;
}


