<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
    "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en">
<head>
    <title>Dog Safari</title>

    {% block css %}     
    <link rel="stylesheet" type="text/css" href="{% url 'bower_components' 'bootstrap/dist/css/bootstrap.min.css' %}" />
    <link rel="stylesheet" type="text/css" href="{% url 'bower_components' 'font-awesome/css/font-awesome.min.css' %}" />
    <link rel="stylesheet" type="text/css" href="{% url 'media' 'css/webapp.css' %}" />
    {%  block css_extra %}{%  endblock %}
    {% endblock css %}

    {% block js %}
    <!-- JS (jQuery) -->
    <script src="{% url 'bower_components' 'jquery/dist/jquery.js' %}" type="text/javascript" ></script>
    <script src="{% url 'bower_components' 'underscore/underscore.js' %}" type="text/javascript" ></script>
    <script src="{% url 'bower_components' 'backbone/backbone.js' %}" type="text/javascript" ></script>
    <script src="{% url 'bower_components' 'react/react.js' %}" type="text/javascript" ></script>
    <script src="{% url 'bower_components' 'bootstrap/dist/js/bootstrap.js' %}" type="text/javascript" ></script>
    <script src="{% url 'bower_components' 'moment/min/moment.min.js' %}" type="text/javascript" ></script>
    <script src="{% url 'media' 'js/URI.js' %}" type="text/javascript" ></script>
    
    
    {% block js_extra %}{%  endblock %}
    {% endblock %}

</head>
<body>
  <div role="alerts" id="alerts" class="margintop70 container"></div>
  <div role="main" id="main"></div>
  {% csrf_token %}
  <script src="{% url 'build' 'app.js' %}" type="text/javascript" ></script>

</body>
</html>
